@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;

@model BlogProject.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>

        @if (!string.IsNullOrEmpty( Model.ImagePath))
        {
            <img src="@Model.ImagePath" alt="Article Pictire" class="img-responsive" width="300px" />
        }
        
        <small class="author">
            --author @Model.Author.FullName
        </small>
        <footer class="pull-right">
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.GetUserId()) ))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
            @Html.ActionLink("Back", "List", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>

<br/>
@Html.ActionLink("Add Comment", "CreateComment", "Article", new { @id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
<h3 class="text-info">Comments</h3>
<div class="container">
    <div class="row">
        @foreach (var comment in Model.Comments)
        {
           <div class="well">
               <h4 class="text-left text-warning">@comment.AutorName</h4>
               <h4 class="text-info">@comment.Text</h4>
           </div>
        }
    </div>
</div>
@Html.PagedListPager(Model.Comments, page => Url.Action("Details", new { page }))


<hr />
